/*Tablets*/
@media (min-width: 768px) and (max-width: 991px){
  /*Navbar */
  .navbar {
    padding: 10px;
    font-size: 30px;
  }
  
  .navbar .logo {
    color: #fff;
  }
  
  .navbar ul {
    display: flex;
    gap: 30px;
  }
  
  .navbar li {
    color: #fff;
  }

  .title {
    font-size: 50px;
  }

  /* Profile */
  .profile-info {
    font-size: 25px;
    gap: 40px;
  }

  .profile-info img {
    width: 300px;
    border-radius: 50%;
  }

  .stacks {
    overflow-y: hidden;
    width: 70%;
    font-size: 20px;
  }

  .arrows .arrow-left,
  .arrows .arrow-right {
    font-size: 50px;
  }

  .stacks .icon {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }

  /* Projects */
  .projects {
    font-size: 20px;
  }

	.projects .project-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 25px;
    grid-gap: 4rem;
  }

  .card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
  }

  .card-title .winnerLang {
    font-size: 15px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
  }

  .btn {
    padding: 10px 15px;
    font-size: 18px;
  }

  .stacks .icon {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }

  .select-box, .countStars {
    font-size: 25px;
  }

  .select-box select {
    padding: 15px 25px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #4f46e5;
    font-size: 18px;
  }

  /* Modal */
  .modal {
    width: 70%;
    height: 70%;
  }
  
  .modal .card img {
    width: 100%;
  }
  
  .modal .card .card-title {
    font-size: 25px;
  }
  
  .modal .card .card-title h1 {
    font-size: 30px;
  }
  
  .modal .card-title .languages {
    max-width: 500px;
    gap: 10px;
  } 
  
  .modal .card-title .languages li {
    padding: 5px 15px;
    font-size: 20px;
  }

  .modal .card .card-body {
    padding: 40px;
  }
  
  .modal .card .card-body p {
    text-align: justify;
    font-size: 25px;
  }

  .btn-disabled {
    padding: 15px 25px;
  }
  
  .btn-github, .btn-live, .btn-disabled {
    font-size: 25px;
  }
  
  .close-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
  }


  /* Contact */
  section.contact {
    padding: 200px 30px 150px;
  }

  .contact .form {
    font-size: 30px;
    gap: 25px;
  }

  .contact .form input,
  .contacr .form textarea {
    padding: 30px 25px;
    font-size: 25px;
  }

  .contact .form span {
    width: 100%;
  }

  .contact .form .btn {
    font-size: 25px;
  }

  /* Footer */
  footer.footer {
    height: 80px;
    font-size: 30px;
  }

  #preloader {
    background-size: 100px;
  }
}

/*Notebooks, small desktops */
@media (min-width: 992px) and (max-width: 1200px){
  /*Navbar */
  .navbar {
    padding: 10px;
    font-size: 20px;
  }
  
  .navbar .logo {
    color: #fff;
  }

  .navbar .logo span {
    display: flex;
  }
  
  .navbar ul {
    display: flex;
    gap: 30px;
  }
  
  .navbar li {
    color: #fff;
  }

  .title {
    font-size: 50px;
  }

  /* Profile */
  .profile-info {
    font-size: 25px;
    gap: 20px;
  }

  .profile-info img {
    width: 250px;
    border-radius: 50%;
  }

  .stacks {
    overflow-y: hidden;
    width: 100%;
    font-size: 20px;
  }

  .arrows .arrow-left,
  .arrows .arrow-right {
    display: none;
  }

  .stacks .icon {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }

  .stacks li {
    min-width: 100px;
  }

  /* Projects */
  .projects {
    font-size: 15px;
  }

	.projects .project-list {
    grid-template-columns: repeat(3, 1fr);
    padding: 25px;
    grid-gap: 4rem;
  }

  .card-title .winnerLang {
    font-size: 14px;
  }
  
  .card .card-body img{
    width: 100%;
  }

  .select-box, .countStars {
    font-size: 18px;
  }

  .select-box select {
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #4f46e5;;
    font-size: 15px;
  }

  /* Modal */
  .modal {
    width: 70%;
    height: 90%;
  }
  
  .modal .card img {
    width: 100%;
  }
  
  .modal .card .card-title {
    font-size: 25px;
  }
  
  .modal .card .card-title h1 {
    font-size: 30px;
  }
  
  .modal .card-title .languages {
    max-width: 500px;
    gap: 10px;
  } 
  
  .modal .card-title .languages li {
    padding: 5px 15px;
    font-size: 20px;
  }

  .modal .card .card-body {
    padding: 40px;
  }
  
  .modal .card .card-body p {
    text-align: justify;
    font-size: 25px;
  }

  .btn-disabled {
    padding: 15px 25px;
  }
  
  .btn-github, .btn-live, .btn-disabled {
    font-size: 25px;
  }
  
  .close-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
  }

  /* Contact */
  section.contact {
    padding: 200px 30px 100px;
  }

  .contact .form {
    font-size: 20px;
    gap: 25px;
  }

  .contact .form input,
  .contacr .form textarea {
    padding: 25px 15px;
    font-size: 20px;
  }

  .contact .form {
    width: 50%;
  }

  .contact .form span {
    width: 100%;
  }

  .contact .form .btn {
    width: 50%;
    font-size: 20px;
  }

  /* Footer */
  footer.footer {
    height: 60px;
    font-size: 20px;
  }

  .float-button i {
    font-size: 80px;
  }

  .float-button i:hover {
    cursor: pointer;
    font-size: 85px;
  }

  #preloader {
    background-size: 100px;
  }
}


/*Desktop*/
@media (min-width: 1201px) and (max-width: 2000px){
  /*Navbar */
  .navbar {
    padding: 10px;
    font-size: 25px;
  }
  
  .navbar .logo {
    color: #fff;
  }
  
  .navbar ul {
    display: flex;
    gap: 30px;
  }
  
  .navbar li {
    color: #fff;
  }

  .title {
    font-size: 50px;
  }

  /* Profile */
  .profile {
    padding-top: 50px;
  }

  .profile-info {
    font-size: 25px;
    gap: 20px;
  }

  .profile-info img {
    width: 300px;
    border-radius: 50%;
  }

  .stacks {
    overflow-y: hidden;
    width: 100%;
  }

  .stacks li {
    min-width: 100px;
  }

  .arrows .arrow-left,
  .arrows .arrow-right {
    display: none;
  }

  .stacks .icon {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }

  .select-box, .countStars {
    font-size: 25px;
  }

  .select-box select {
    padding: 15px 25px;
    border: 1px solid;
    border-radius: 5px;
    background-color: #4f46e5;
    font-size: 18px;
  }
  
  .select-box i {
    font-size: 45px;
  }  

  .projects .project-list {
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    grid-gap: 4rem;
  }

  .card-title .winnerLang {
    font-size: 18px;
  }
  
  .card .card-body img{
    width: 350px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
  }

  .btn, .btn-disabled {
    padding: 10px 15px;
    font-size: 18px;
  }

  /* Modal */
  .modal {
    width: 40%;
    height: 90%;
  }
  
  .modal .card img {
    width: 100%;
  }
  
  .modal .card .card-title {
    font-size: 25px;
  }
  
  .modal .card .card-title h1 {
    font-size: 30px;
  }
  
  .modal .card-title .languages {
    max-width: 500px;
    gap: 10px;
  } 
  
  .modal .card-title .languages li {
    padding: 5px 15px;
    font-size: 20px;
  }

  .modal .card .card-body {
    padding: 40px;
  }
  
  .modal .card .card-body p {
    text-align: justify;
    font-size: 25px;
  }
  
  .btn-github, .btn-live, .btn-disabled {
    font-size: 25px;
  }
  
  .close-icon {
    top: 5px;
    right: 20px;
    font-size: 40px;
  }


  /* Contact */
  section.contact {
    padding: 200px 30px 100px;
  }

  .contact .form {
    font-size: 30px;
    gap: 25px;
  }

  .contact .form input,
  .contacr .form textarea {
    padding: 25px 15px;
    font-size: 25px;
  }

  .contact .form {
    width: 30%;
  }

  .contact .form span {
    width: 100%;
  }

  .contact .form .btn {
    width: 50%;
    font-size: 25px;
  }

  /* Footer */
  footer.footer {
    height: 50px;
    font-size: 30px;
  }

  .float-button i {
    font-size: 80px;
  }

  .float-button i:hover {
    cursor: pointer;
    font-size: 85px;
  }

  #preloader {
    background-size: 128px;
  }
}
