@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

body {
  position: relative;
  /* overflow: hidden; */
}

main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: sticky;
  width: 100%;
  top: 0;
  background-color: black;
  padding: 10px;
  height: 50px;
}

.navbar .logo {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}


.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar li {
  color: #fff;
}

.title {
  font-size: 50px;
  font-weight: 500;
}

section.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.profile-info img {
  width: 200px;
  border-radius: 50%;
}

.profile-info span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.profile-info span i {
  color: crimson;
}

.profile-info .stacks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.stacks {
  overflow-y: hidden;
  width: 300px;
}

.stacks::-webkit-scrollbar { 
  display: none; 
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.arrows .arrow-left,
.arrows .arrow-right {
  font-size: 35px;
}

.stacks {
  transition: all 0.5s ease;
}

.stacks li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-grow: 1;
}

.stacks .icon {
  display: flex; 
  align-items: center; 
  justify-content: center;
  min-width: 50px;
  max-width: 50px;
  border-radius: 50%;
  height: 50px;
  background-color: #4f46e5;
  color: #fff;
}

.stacks .icon i {
  font-size: 24px;
}

section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projects .project-list {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 4rem;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  align-items: center;
  grid-auto-columns: auto;
  width: 100%;
  padding: 25px;
}

.project-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.project-visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5px;
  height: 100%;
  padding: 25px;
  
  box-shadow: 
    rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset,
    rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  
  background-color: #fff;
  border-radius: 0px;
}

.card .card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .card-title .project-status {
  gap: 15px;
}

.card .card-body img{
  width: 100%;
}

.card .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
}

.btn {
  padding: 8px 12px;
  border: 0;
  border-radius: 5px;
  color: #fff;
}

.btn-primary {
  background-color: #4f46e5;
  border: 1px solid #4f46e5;
}

.btn-success {
  background-color: #22c55e;
  border: 1px solid #22c55e;
}

.btn-disabled {
  padding: 8px 12px;
  border: 0.1px solid gray;
  color: gray;
  border-radius: 5px;
}

.hide {
  display: none !important;
}

.show {
  display: flex;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  scroll-behavior: smooth;
  transition: all .3s linear 0s;
}

.modal .card img {
  width: 100%;
}

.modal .card .card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal .card .card-title h1 {
  font-size: x-large;
}

.modal .card-title .languages {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 250px;
  gap: 10px;
} 

.modal .card-title .languages li {
  padding: 5px 15px;
  border-radius: 25px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.modal .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.modal .card .card-body p {
  text-align: justify;
  font-size: 15px;
}

.modal .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-github {
  background-color: #a855f7;
  border: 1px solid #a855f7;
}

.btn-live {
  background-color: #06b6d4;
  border: 1px solid #06b6d4;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
}

.winnerLang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 12px;
}

.winnerLang i {
  color: goldenrod;
}

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 30px;
}

.contact .form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact .form span {
  width: 100%;
}

.contact .form input,
.contact .form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #a8a29e;
  border-radius: 5px;
}

.contact .form input {
  height: 35px;

}

.contact .form label b {
  color: #4f46e5;
}

.contact .form .name-group {
  display: flex;
  flex-direction: column;
}


.contact .form .name-group label {
  padding: 10px 0 0 0;
}

.contact .form .form-button {
  padding-bottom: 15px;
  width: 100%;
}

.contact .form .form-button button{
  width: 100%;
} 

footer.footer {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: black;
}

.footer p {
  color: #fff;
}

.float-button {
  position: fixed;
  right: 20px;
  bottom: 20px;

  display: flex;
  flex-direction: column;
}

.float-button i {
  font-size: 60px;
  /* color: #22c55e; */
  /* background-color: #fff; */
  transition: 0.2s all;
}

.float-button i:hover {
  cursor: pointer;
  font-size: 65px;
}

.select-box select:disabled {
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 5px;
  background-color: #4f46e5;
}

.select-box i {
  font-size: 45px;
}

#preloader {
  /* background: #fff url(../src/images/Rocket3.gif) no-repeat center center; */
  background-color: #4f46e5;
  /* background-size: 64px; */
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* HTML: <div class="loader"></div> */
.loader {
  width: fit-content;
  font-size: 32px;
  font-family: monospace;
  line-height: 1.4;
  font-weight: bold;
  background: 
    linear-gradient(#000 0 0) left ,
    linear-gradient(#000 0 0) right;
  background-repeat: no-repeat; 
  border-right: 5px solid #0000;
  border-left: 5px solid #0000;
  background-origin: border-box;
  position: relative;
  animation: l9-0 2s infinite;
}
.loader::before {
  content:"Loading";
  color: #fff;
}
.loader::after {
  color: #fff;
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 22px;
  height: 60px;
  background: 
   linear-gradient(90deg,#000 4px,#0000 0 calc(100% - 4px),#000 0) bottom            /22px 20px,
   linear-gradient(90deg,red  4px,#0000 0 calc(100% - 4px),red  0) bottom 10px left 0/22px 6px,
   linear-gradient(#000 0 0) bottom 3px left 0  /22px 8px,
   linear-gradient(#000 0 0) bottom 0   left 50%/8px  16px;
 background-repeat: no-repeat;
 animation: l9-1 2s infinite;
}
@keyframes l9-0{
  0%,25%    {background-size: 50% 100%}
  25.1%,75% {background-size: 0 0,50% 100%}
  75.1%,100%{background-size: 0 0,0 0}
}
@keyframes l9-1{
  25%   { background-position:bottom, bottom 54px left 0,bottom 3px left 0,bottom 0 left 50%;left:0}
  25.1% { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:0}
  50%   { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
  75%   { background-position:bottom, bottom 54px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
  75.1% { background-position:bottom, bottom 10px left 0,bottom 3px left 0,bottom 0 left 50%;left:calc(100% - 22px)}
}

.comboStars {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

select#starsSelect {
  background-color: #4f46e5;
  padding: 8px;
}

/* .projects {
  background-color:#4f46e5;
} */

.close {
  animation: close 0.1s;
}

.open {
  animation: open 0.1s;
}

@keyframes open {
  0% {transform: translateX(100%);}
  100% {transform: translateX(0%);}
}

@keyframes close {
  0% {transform: translateX(0%);}
  100% {transform: translateX(100%);}
}

/* .modal .modal-header {
  height: 150px;
}

.modal .modal-header h2 {
  font-size: xx-large;
}

.modal .modal-header img {
  display: none;
}

.modal-body {
  padding: 0;
}

.modal-body h2 {
  font-size: large;
} */

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(24, 26, 27);
}

.modal-header {
  display: block;
  width: 100%;
  height: 80px;
  background-color: #4f46e5;

  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-header h2 {
  color: #fff;
  padding: 0 25px;
  font-size: x-large;
}

.modal-header img {
  display: none;
}

.modal-body {
  padding: 18px;
}

.modal-body h2 {
  font-size: large;
}

.modal-body p {
  font-size: medium;
  padding: 8px 0;
}

.modal-body strong {
  color: #4f46e5;
}

.modal-body a:hover {
  font-weight: bold;
}

.modal-footer {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 0;
  padding: 25px;
}

.check-group {
  display: flex;
  gap: 5px;
}

