@import url("css/mobile-first.css");
@import url("css/medias.css");

#particles-container {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

canvas{ 
  display: block;
}

body {
  background-color: #020617;
  cursor: url('src/images/cursor-auto.png'), auto;
}

button:hover, a:hover, i:hover, .icon:hover {
  cursor: url('src/images/cursor-pointer.png'), pointer;
}

h1,
h2,
h3, 
h4,
p,
label,
span
 {
  color: #f8fafc;
}

.card,
.card h1,
.card h2,
.card h3,
.card h4,
.card p, 
.card label, 
.card span {
  color: #020617;
}

button, .icon {
  cursor: pointer;
}

a {
  transition: .7s;
}

a:hover {
  color: #4f46e5;
}

.btn-primary {
  transition: .7s;
}

.btn-primary:hover,
.icon:hover {
  background-color: #f8fafc;
  color: #4f46e5;
}

.close-icon {
  color: #020617;
}

.close-icon:hover {
  cursor: pointer;
  opacity: .9;
  transform: scale(1.1)
}

.modal {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(24, 26, 27);
}

.modal-header {
  display: block;
  /* position: absolute;
  top: 0;
  left: 0; */
  width: 100%;
  height: 300px;
  background-color: #4f46e5;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: xx-large;
}

.modal-header h2 {
  color: #fff;
  padding: 0 25px;
}

.modal-header img {
  /* position: absolute;
  top: 0;
  right: 0; */
  width: 300px;
}

.modal-body {
  padding: 30px 50px;
}

.modal-body p {
  font-size: larger;
  padding: 15px 0;
  /* padding: 15px; */
}

.modal-body strong {
  color: #4f46e5;
}

.modal-body a:hover {
  font-weight: bold;
}

.modal-footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  padding: 50px;
}

.check-group {
  /* padding: 10px 15px; */
  display: flex;
  gap: 5px;
}
