@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;

}

a {
  color: inherit;
  text-decoration: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  width: 100%;
  top: 0;
  background-color: black;
  padding: 10px;
}

.navbar .logo {
  color: #fff;
}

.navbar ul {
  display: flex;
  gap: 30px;
}

.navbar li {
  color: #fff;
}

.title {
  font-size: 50px;
  font-weight: 500;
}

section.profile {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

.profile-info img {
  width: 200px;
  border-radius: 50%;
}

.profile-info span {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.profile-info span i {
  color: crimson;
}

.profile-info .stacks {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
}

.stacks {
  overflow-y: hidden;
  width: 300px;
}

.stacks::-webkit-scrollbar { 
  display: none; 
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.arrows .arrow-left,
.arrows .arrow-right {
  font-size: 35px;
}

.stacks {
  transition: all 0.5s ease;
}

.stacks li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  flex-grow: 1;
}

.stacks .icon {
  display: flex; 
  align-items: center; 
  justify-content: center;
  min-width: 50px;
  max-width: 50px;
  border-radius: 50%;
  height: 50px;
  background-color: crimson;
}

.stacks .icon i {
  font-size: 24px;
}

section.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.projects .project-list {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 4rem;
  grid-template-columns: repeat(1,1fr);
  justify-items: center;
  align-items: center;
  grid-auto-columns: auto;
  width: 100%;
  padding: 25px;
}

.project-status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}

.project-visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.card .card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card .card-title .project-status {
  gap: 15px;
}

.card .card-body img{
  width: 300px;
}

.card .card-footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle {
  width: 15px;
  height: 15px;
  background-color: green;
  border-radius: 50%;
}

.btn {
  padding: 8px 12px;
  border: 0;
  border-radius: 5px;
  color: #fff;
}

.btn-primary {
  background-color: crimson;
  border: 1px solid crimson;
}

.btn-success {
  background-color: #22c55e;
  border: 1px solid #22c55e;
}

.btn-disabled {
  padding: 8px 12px;
  border: 0.1px solid gray;
  color: gray;
  border-radius: 5px;
}

.hide {
  display: none !important;
}

.show {
  display: flex;
}

.backdrop {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  z-index: 100;
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  position: relative;
  width: 80%;
  height: 80%;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal .card img {
  width: 250px;
}

.modal .card .card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modal .card .card-title h1 {
  font-size: x-large;
}

.modal .card-title .languages {
  padding: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 250px;
  gap: 10px;
} 

.modal .card-title .languages li {
  padding: 5px 15px;
  border-radius: 25px;
  background-color: red;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
}

.modal .card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px;
}

.modal .card .card-body p {
  text-align: justify;
  font-size: 15px;
}

.modal .card .card-footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn-github {
  background-color: #a855f7;
  border: 1px solid #a855f7;
}

.btn-live {
  background-color: #06b6d4;
  border: 1px solid #06b6d4;
}

.close-icon {
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 24px;
}

.winnerLang {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 15px;
}

.winnerLang i {
  color: goldenrod;
}

section.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 50px 30px;
}

.contact .form {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.contact .form span {
  width: 100%;
}

.contact .form input,
.contact .form textarea {
  width: 100%;
  padding: 8px;
  border: 1px solid #a8a29e;
  border-radius: 5px;
}

.contact .form input {
  height: 35px;

}

.contact .form label b {
  color: crimson;
}

.contact .form .name-group {
  display: flex;
  flex-direction: column;
}


.contact .form .name-group label {
  padding: 10px 0 0 0;
}

.contact .form .form-button {
  padding-bottom: 15px;
  width: 100%;
}

.contact .form .form-button button{
  width: 100%;
} 

footer.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: black;
}

.footer p {
  color: #fff;
}

.select-box {
  
}

.select-box select {
  padding: 8px 12px;
  border: 1px solid;
  border-radius: 5px;
  background-color: crimson;
}

/* .select-box select {
  -moz-appearance:none; 
  -webkit-appearance:none;
  appearance:none;
}
*/

.select-box i {
  font-size: 45px;
}

/*Tablets*/
@media (min-width: 768px) and (max-width: 1023px){
  /*Navbar */
  .navbar {
    padding: 10px;
    font-size: 30px;
  }
  
  .navbar .logo {
    color: #fff;
  }
  
  .navbar ul {
    display: flex;
    gap: 30px;
  }
  
  .navbar li {
    color: #fff;
  }

  .title {
    font-size: 50px;
  }

  /* Profile */
  .profile-info {
    font-size: 25px;
    gap: 40px;
  }

  .profile-info img {
    width: 300px;
    border-radius: 50%;
  }

  .stacks {
    overflow-y: hidden;
    width: 70%;
    font-size: 20px;
  }

  .arrows .arrow-left,
  .arrows .arrow-right {
    font-size: 50px;
  }

  .stacks .icon {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }

  /* Projects */
  .projects {
    font-size: 25px;
  }

	.projects .project-list {
    grid-template-columns: repeat(2, 1fr);
    padding: 25px;
    grid-gap: 4rem;
  }

  .card-title .winnerLang {
    font-size: 18px;
  }
  
  .card .card-body img{
    width: 350px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
  }

  .btn {
    padding: 15px 25px;
    font-size: 18px;
  }

  .stacks .icon {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }

  .select-box, .countStars {
    font-size: 25px;
  }

  .select-box select {
    padding: 15px 25px;
    border: 1px solid;
    border-radius: 5px;
    background-color: crimson;
    font-size: 18px;
  }

  /* Modal */
  .modal {
    width: 70%;
    height: 70%;
  }
  
  .modal .card img {
    width: 100%;
  }
  
  .modal .card .card-title {
    font-size: 25px;
  }
  
  .modal .card .card-title h1 {
    font-size: 30px;
  }
  
  .modal .card-title .languages {
    max-width: 500px;
    gap: 10px;
  } 
  
  .modal .card-title .languages li {
    padding: 5px 15px;
    font-size: 20px;
  }

  .modal .card .card-body {
    padding: 40px;
  }
  
  .modal .card .card-body p {
    text-align: justify;
    font-size: 25px;
  }

  .btn-disabled {
    padding: 15px 25px;
  }
  
  .btn-github, .btn-live, .btn-disabled {
    font-size: 25px;
  }
  
  .close-icon {
    position: absolute;
    top: 5px;
    right: 20px;
    font-size: 40px;
  }


  /* Contact */
  section.contact {
    padding: 200px 30px 150px;
  }

  .contact .form {
    font-size: 30px;
    gap: 25px;
  }

  .contact .form input,
  .contacr .form textarea {
    padding: 30px 25px;
    font-size: 25px;
  }

  .contact .form span {
    width: 100%;
  }

  .contact .form .btn {
    font-size: 25px;
  }

  /* Footer */
  footer.footer {
    height: 80px;
    font-size: 30px;
  }
}

/*Desktop*/
@media (min-width: 1024px) and (max-width: 2000px){
  /*Navbar */
  .navbar {
    padding: 10px;
    font-size: 25px;
  }
  
  .navbar .logo {
    color: #fff;
  }
  
  .navbar ul {
    display: flex;
    gap: 30px;
  }
  
  .navbar li {
    color: #fff;
  }

  .title {
    font-size: 50px;
  }

  /* Profile */
  .profile {
    padding-top: 50px;
  }

  .profile-info {
    font-size: 25px;
    gap: 20px;
  }

  .profile-info img {
    width: 300px;
    border-radius: 50%;
  }

  .stacks {
    overflow-y: hidden;
    width: 100%;
  }

  .stacks li {
    min-width: 100px;
  }

  .arrows .arrow-left,
  .arrows .arrow-right {
    display: none;
  }

  .stacks .icon {
    min-width: 60px;
    max-width: 60px;
    height: 60px;
  }

  .select-box, .countStars {
    font-size: 25px;
  }

  .select-box select {
    padding: 15px 25px;
    border: 1px solid;
    border-radius: 5px;
    background-color: crimson;
    font-size: 18px;
  }
  
  .select-box i {
    font-size: 45px;
  }  

  .projects .project-list {
    grid-template-columns: repeat(4, 1fr);
    padding: 25px;
    grid-gap: 4rem;
  }

  .card-title .winnerLang {
    font-size: 18px;
  }
  
  .card .card-body img{
    width: 350px;
  }
  
  .circle {
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 50%;
  }

  .btn, .btn-disabled {
    padding: 10px 15px;
    font-size: 18px;
  }

  /* Modal */
  .modal {
    width: 40%;
    height: 90%;
  }
  
  .modal .card img {
    width: 100%;
  }
  
  .modal .card .card-title {
    font-size: 25px;
  }
  
  .modal .card .card-title h1 {
    font-size: 30px;
  }
  
  .modal .card-title .languages {
    max-width: 500px;
    gap: 10px;
  } 
  
  .modal .card-title .languages li {
    padding: 5px 15px;
    font-size: 20px;
  }

  .modal .card .card-body {
    padding: 40px;
  }
  
  .modal .card .card-body p {
    text-align: justify;
    font-size: 25px;
  }
  
  .btn-github, .btn-live, .btn-disabled {
    font-size: 25px;
  }
  
  .close-icon {
    top: 5px;
    right: 20px;
    font-size: 40px;
  }


  /* Contact */
  section.contact {
    padding: 200px 30px 100px;
  }

  .contact .form {
    font-size: 30px;
    gap: 25px;
  }

  .contact .form input,
  .contacr .form textarea {
    padding: 25px 15px;
    font-size: 25px;
  }

  .contact .form {
    width: 30%;
  }

  .contact .form span {
    width: 100%;
  }

  .contact .form .btn {
    width: 50%;
    font-size: 25px;
  }

  /* Footer */
  footer.footer {
    height: 50px;
    font-size: 30px;
  }
}
